<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
 
export default {
  
  name: 'App'
}

</script>

<style>
@import './assets/css/bootstrap.min.css';
@import './assets/css/styles.css';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding:30px
}
</style>
<script>

</script>
